.login {
  top: 0;
  left: 0;
  position: absolute;
  cursor: pointer;
  padding:10px;
  a {
    text-decoration: none;
    color: #ffffff;
  }
  i {
    color: #eb8b95;
    margin-right: 5px;
  }
  &:hover {
    i {
      color: #ffffff;
    }
    a {
      text-decoration: underline;
    }
  }
}